{% extends 'base.html' %}
{% block content %}

<!-- Sign-in Page -->
<div class="background-signin"></div>
<div class="container-signin">
    <!-- Include alerts section -->
    {% include 'includes/alerts.html' %}
    <form action="{% url 'login' %}" method="POST">
        <div class="signin">
            <h2>To log in</h2>
            {% csrf_token %}
            <div class="inputBox">
                <input type="email" required="required" name="email">
                <i class="fa-solid fa-envelope"></i>
                <span>E-mail address</span>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="password">
                <i class="fa-solid fa-lock"></i>
                <span>Password</span>
            </div>
            <div class="inputBox">
                <a href="#" class="forgot-password">Forgot your password?</a>
            </div>
            <div class="inputBox">
                <input type="submit" value="Connexion">
            </div>
            <p>Not Registered ? <a href="{% url 'register' %}" class="create">Create an account</a></p>
        </div>
    </form>
</div>

{% endblock %}
