/* General background style of the page */
.background-signup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('images/background-inscription.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity: 0.3;
}

/* Add a color overlay to the background to improve text readability in the foreground */
.background-signup::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 93, 104, 0.5);
}

/* Base style for the container where the main content will be displayed */
.container-signup {
  position: relative;
  padding: 40px;
  margin: 92px auto 92px auto;
  text-align: center;
  border-radius: 20px;
  border: 8px solid #315D68;
  width: 38em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgb(237, 227, 227);
  background-color: rgba(255, 255, 255, 0.7); /* Color blanc avec opacité à 0.5 */
}

/* Ensure the navigation bar stays on top of everything */
nav.sticky-nav {
  z-index: 100;
}

/* Style for the form element within the container, alignment and spacing */
.container-signup .signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

/* Style for the h2 titles in the forms */
.container-signup .signup h2 {
  color: #315D68;
  padding-top: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 2em;
  font-family: 'Ananda', arial, cursive, sans-serif;
}

/* Style for the input fields (inputBox) */
.container-signup .signup .inputBox {
  position: relative;
  width: 300px;
  margin-right: 45px;
}

/* Style for the inputs within inputBox */
.container-signup .signup .inputBox input {
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #315D68;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(49, 93, 104, 0.8);
  transition: 0.5s;
  outline: none;
  opacity: 0.7;
}

/* Style for the span within inputBox */
.container-signup .signup .inputBox span {
  position: absolute;
  margin-top: -43px;
  left: 2px;
  padding: 14px 10px 14px 48px;
  pointer-events: none;
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.5);
}

/* Styling for valid and focused inputs in inputBox */
.container-signup .signup .inputBox input:valid ~ span,
.container-signup .signup .inputBox input:focus ~ span {
  color: #fff;
  border: 1px solid yellow;
  background: #2e859a;
  transform: translateX(25px) translateY(-12px);
  font-size: 0.7em;
  padding: 2px 9px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

/* Styling for valid and focused inputs in inputBox */
.container-signup .signup .inputBox input:valid,
.container-signup .signup .inputBox input:focus {
  border: 1px solid rgba(49, 93, 104, 0.8);;
}

/* Style for the icon (i) within inputBox */
.container-signup .signup .inputBox i {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 25px;
  padding: 2px 0;
  padding-right: 8px;
  color: #fff;
  border-right: 1px solid yellow;
}

/* Style for the submit button within inputBox */
.container-signup .signup .inputBox input[type="submit"] {
  background: #315D68;
  color: #fff;
  padding: 10px 0;
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35),
              inset -5px -5px 15px rgba(255, 255, 255, 0.1),
              inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  font-family: 'Ananda';
  letter-spacing: 0.15em;
  width: 362px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Add hover effect to submit buttons */
.container-signup .signup .inputBox input[type="submit"]:hover {
  background: #1a2e45;
  color: #ffffff;
}

/* Style for the paragraphs within the form */
.container-signup .signup p {
  color: #315D68;
  font-size: 1.2em;
  font-weight: 300;
}

/* Style for links within the form paragraphs */
.container-signup .signup p a {
  color: #315D68;
  font-size: 1em;
  transition: color 0.2s ease-in-out;
}

/* Add hover effect to links */
.container-signup .signup p a:hover {
  color: #2e859a;
}

/* Style for the forgot password links within inputBox */
.container-signup .signup .inputBox .forgot-password {
  color: #315D68;
  font-size: 15px;
  font-weight: 300;
  display: block;
  width: 24em;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

/* Configuration for the radio input container */
.container-signup .signup .inputBox.radioInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  margin-left: 20px;
  font-size: 20px;
}

/* Configuration for radio inputs */
.container-signup .signup .inputBox.radioInput input[type="radio"] {
  width: auto;  
  margin: 0px 5px;
  transform: scale(1.7);
}

/* Configuration for the radio input text */
.container-signup .signup .inputBox.radioInput span {
  position: static;
}

/* Positioning the radio bubbles side by side */
.container-signup .signup .inputRow {
  display: flex;
  justify-content: space-between;
}

/* Reducing the width to leave space for margin */
.container-signup .signup .inputRow .inputBox {
  width: calc(50% - 60px); 
}
